*{
    background-color: rgb(248, 229, 229);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.cot-head{
    height: 70px;
    width: 100%;
    display: flex;
}

.cot-head h2{
    color: black;
    text-shadow: 2px 2px 3px #aaaaaa;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.cot-text{
    height: 50px;
    width: 100%;
    display: flex;
}

.cot-text p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-top: 5pxpx;
}


.texts{
    height: 50px;
    width: 100%;
}
.texts h2{
    margin-left: 20px;
}

.imgs{
    height: 305px;
    display: flex;
}

.imgs-1{
    background-image: url("IG.jpg");
    height: 300px;
    width: 295px;
    margin-left: 20px;
    border-radius: 10px;
}

.imgs-2{
    background-image: url("WP.jpg");
    height: 293PX;
    width: 295PX;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 50px;
}

.text{
    display: flex; 
    height: 40px;
}

.text1{
    margin-left: 126px;
    font-family: 'Times New Roman', Times, serif;
}

.text2{
    margin-left: 270px;
    font-family: 'Times New Roman', Times, serif;
}

.foot-panel-1{
    height: 30px;
}

.copyright1{
    text-shadow: 1px 1px 0px black;
    margin: 20px;
}